<div class="large-11 column">
<p id="notice"><%= notice %></p>

<h1>Your Account</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Your Account', edit_user_path(@user), :class => 'button radius' %>

</div>

