<div class="row">
    <div class="large-10 column">
        <p id="notice"><%= notice %></p>
        <h1>Available Jobs</h1>
        <% if logged_in? %>
          <%= link_to "Post a New Job", new_post_path, :class => 'button radius' %>
        <% else %>
          <p>Please <%= link_to "log in", login_path %> to post new jobs on this board.</p>
        <% end %>
        <% @posts.each do |post| %>
          <%= render post %>
        <% end %>
    </div>
</div>

<br></br>

<br>


